<div class="container-fluid">
	<div class="row instructions">
		<div class="col-md-4">
			<p>Choose the tasklists you would like to use for Sati:</p>
		</div>
		<div class="col-md-4 task-time-col">
			<p id="task-time-estimates-instructions" style="visibility:hidden">Enter the time you think each task will take in hours. Leave any tasks you do not wish to schedule blank. (Decimals for tasks that take less than an hour are allowed)</p>
		</div>
		<div class="col-md-4">
			<p>Choose the calendars you would like to use for Sati:</p>
		</div>
	</div>

	<div class="row selectors">
		<div class="col-md-4">  
			<table class="tasklists_list" border="1">
		  		<% @tasklists.each do |tasklist| %>
				  	<tr id="<%= tasklist["id"] %>">
				      <td><%= tasklist["title"] %> </td>
				      <% updated = DateTime.strptime(tasklist["updated"], format="%Y-%m-%dT%H:%M").strftime("%B %d %Y %H:%M") %>
				      <td>Last updated at <%= updated %> </td>
				    </tr>
		 		<% end %>
			</table>
		</div>

		<div class="col-md-4">  
			<table class="task_times_list" border="1">
			</table>
		</div>

		<div class="col-md-4">
			<table class="calendars_list" border="1">
			  <% @calendars.each do |calendar| %>
			  	<tr id="<%= calendar["id"] %>">
			      <td><%= calendar["summary"] %> </td>
			    </tr>
			  <% end %>
			</table>
		</div>
	</div>

	<div class="row calendar_row">
		<div id='calendar' style="display:block"></div>
	</div>
</div>



	


